{%extends "base.html"%}

{% load staticfiles %}
{% block title %}图书馆首页{% endblock %}

{%block  content%}


<div class="container">
	<div class="row">
		<div class="col-md-12 col-md-offset-0">
			<div class="col-md-2">
                <div  class="list-group">
                    {% if user.permission == 2 %}
					<a href="/homepage/" class="list-group-item" id="home">首页</a>
{#					<a href="/addbook/" class="list-group-item" id="addbook">添加图书</a>#}
                    <a href="/borrowbook/" class="list-group-item" id="borrowbook">借书</a>
                    <a href="/returnbook/" class="list-group-item" id="returnbook">还书</a>
                    <a href="/processreservation/" class="list-group-item" id="processreservation">在架图书预约</a>
{#                    <a href="/notification/" class="list-group-item" id="notification">发布通知</a>#}
                    {% elif user.permission < 2 %}
                    <a href="/homepage/" class="list-group-item" id="home">首页</a>
					<a href="/viewnotification/" class="list-group-item" id="viewnotification">查看通知</a>
                    <a href="/viewbaseinfo/" class="list-group-item" id="viewbaseinfo">我的基本信息</a>
                    <a href="/circulation/" class="list-group-item" id="circulation">我的流通</a>
                    {% endif %}
				</div>
				<script type="text/javascript">
				    var act_typ = document.getElementById("{{id_type}}");
				    var new_class = act_typ.getAttribute("class") + " active"
				    act_typ.setAttribute("class",new_class);
				</script>
			</div>

                {% block pagecontent %}
                {% endblock %}
    </div>
    </div>
    </div>



{% endblock%}
