{% extends "base_site.html" %}
{%load bootstrap%}
{%block pagecontent%}

        <div class="col-md-10 col-md-offset-0">
        <h4> 外借列表 </h4>
        </div>
        <div class="col-md-10 col-md-offset-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>书名</th>
                        <th>分馆</th>
                        <th>借书日期</th>
                        <th>应还日期</th>
                        <th>罚款</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bi, dl, fi in zipl %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/viewbook/detail/?isbn={{bi.bookcopy.book.isbn}}">{{ bi.bookcopy.book.name }}</a></td>
                        <td>
                        {{ bi.bookcopy.collection_loc }}
                        </td>
                        <td>{{ bi.BorrowDate|date:"Y-m-d" }}</td>
                        <td>{{ dl|date:"Y-m-d" }}</td>
                        <td> CNY {{ fi }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>没有借阅记录</td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>
            </div>
{% endblock %}
