{% extends "base.html" %}
{% load staticfiles %}
{% block title %}我的账户{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <h3 id="left"> 我的基本信息 </h3>
            <p id="right"><a class="btn btn-primary" id="id_revise" href="/editbaseinfo/" role="button">编辑</a></p>
        </div>
        <br />

        <div class="col-md-6 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <table class="table table-hover">
                    <tr>
                        <th>证号：</th>
                        <td>{{ user.user.username }}</td>
                    </tr>
                    <tr>
                        <th>姓名：</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>电话：</th>
                        <td>{{ user.phone }}</td>
                    </tr>
                    <tr>
                        <th>邮箱：</th>
                        <td>{{ user.user.email }}</td>
                    </tr>
                    <tr>
                        <th>地址：</th>
                        <td>{{ user.address }}</td>
                    <tr>
                        <th>负责校区：</th>
                        <td>{{ user.loc }}</td>
                    </tr>
            </table>

        </div>
    </div>
</div>

{% endblock %}
