{% extends "base_site.html" %}
{%load bootstrap%}
{%block pagecontent%}
        {% if status == "delete succeed" %}
             <div class="col-md-5 col-md-offset-2">
                <div class="well">
					<h3 class="text-success text-center">成功删除！</h3>
				</div>
            </div>
        {% endif %}
       <div class="col-md-10 col-md-offset-0">
        <h4> 预约请求 </h4>
        </div>
        <div class="col-md-10 col-md-offset-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>取书地点</th>
                        <th>书名</th>
                        <th>条码</th>
                        <th>预约有效期</th>
                        <th>书所在分馆</th>
                        <th>索书号</th>
                        <th>请求状态</th>
                        <th>满足日期</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for res,reservedDate in reservation_info %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ res.take_loc }}</td>
                        <td><a href="/viewbook/detail/?isbn={{res.bookcopy.book.isbn}}">{{ res.bookcopy.book.name }}</a></td>
                        <td>{{ res.bookcopy.barcode }}</td>
                        <td>{{ res.resDate|date:"Y/m/d" }} ~ {{ res.dueDate|date:"Y/m/d" }}</td>
                        <td>
                            {{res.bookcopy.collection_loc}}
                        </td>
                        <td>{{ res.bookcopy.book.call_number }}</td>
                        <td>
                            {% if res.status == "保留" %}
                            保留到{{ reservedDate|date:"Y/m/d" }}
                            {% else %}
                             {{ res.status }}
                            {% endif %}
                        </td>
                        <td>{{ res.satisfyDate|date:"Y/m/d" }}</td>
                        {% if res.status == "处理中"  %}
                            <td><a href="/reservation/?id={{res.res_id}}">删除</a></td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <tr>
                        <td>没有预约请求</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}
