{% extends "base_site.html" %}
{%load bootstrap%}
{%block pagecontent%}
<div class="col-md-9 col-md-offset-0">
		<div class="col-md-6 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <h4>{{ num }}通知</h4>
		</div>
        <div class="col-md-6 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <ul>
            {% for notice in notificaiton %}
                <li><a href="/viewnotification/?id={{ notice.id }}">{{ notice.title }}</a>
                     {{ notice.pub_person }}发布于{{ notice.time|date:"Y-m-d"}}</li>
            {% endfor %}
        </ul>
        </div>


</div>
{% endblock %}