{% extends "base.html" %}
{% load staticfiles %}
{% block title %}My Account{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
        <h3>《{{ book.name }}》所有单册状态</h3>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>单册状态</th>
                        <th>应还日期</th>
                        <th>分馆</th>
                        <th>架位</th>
                        <th>请求数</th>
                        <th>条码</th>
                        {% if user.permission < 2 %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for bookcopy,duedate,request,sta in copy_due_req_status %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {% if bookcopy.status == 'borrowed' %}
                                已借出
                            {% elif bookcopy.status == 'available' %}
                                外借本
                            {% endif %}
                        </td>
                        <td>
                            {% if bookcopy.status == 'borrowed' %}
                                {{ duedate|date:"Y-m-d" }}
                            {% elif sta == 'onboard' %}
                                 在架上
                            {% elif sta == 'my_reserved' or sta == 'others_reserved' %}
                                已被请求
                            {% endif %}
                        </td>
                        <td>
                            {{ bookcopy.collection_loc}}
                        </td>
                        <td>{{ bookcopy.book.call_number }}</td>
                        <td>{{ request }}</td>
                        <td>{{ bookcopy.barcode }}</td>
                    {% if user.permission < 2 %}
                        <td>
                            <div class="col-md-1">
                                {% if sta == "others_borrow" or sta == "onboard" %}
                                    <p><a class="btn btn-primary" href="/addreservation/?id={{ bookcopy.copy_id }}" role="button">预约&raquo;</a></p>
                                {% elif sta == "my_reserved" %}
                                    <p><a class="btn" href="#" role="button">我已预约</a></p>
                                {% elif sta == "others_reserved" %}
                                    <p><a class="btn" href="#" role="button">已被他人预约</a></p>
                                {% elif sta == "my_borrow" %}
                                    <p><a class="btn" href="#" role="button">已借此书</a></p>
                                {% endif %}

                            </div>
                        </td>
                    {% endif %}
                    </tr>
                    {% empty %}
                    <tr>
                        <td>没有单册</td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>
            </div>
    </div>
</div>

{% endblock %}
